  <o-form show-header="no">
    <o-combo #truefalsestring attr="combo" label="Select value" [static-data]="booleanArray" [data]="selectedBooleanCode"
      value-column="booleanCode" columns="booleanCode;booleanValue" visible-columns="booleanValue" required="yes"
      fxFlex (onChange) = "getValue()">

    </o-combo>
  </o-form>

  <!-- <o-combo #truefalsestring label="Select value" [static-data]="booleanArray" [data]="selectedBooleanString"
  value-column="booleanString" columns="booleanString;booleanValue" visible-columns="booleanValue"
  required="yes" fxFlex>
  <o-combo-renderer-boolean boolean-type="string" true-value="trueString" false-value="falseString"
    render-true-value="true" render-false-value="false">
  </o-combo-renderer-boolean>
</o-combo> -->
