.tier-container{
  max-width: 50%;
  margin: 20px auto;
}

#tiers-prices{
  margin-top: 10%;
}

.o-image{
  height: 100px !important;
}

#tiers-toggle{
  margin: 10px 0;
  text-align: center;
}

.mat-grid-tile {
  overflow: inherit !important;
}

.mat-button-toggle-group-appearance-standard{
  border-radius: 15px !important;
  border: 3px solid #9a9176;
}

.mat-button-toggle-checked{
  background-color: #9a9176;
  color: #FFF !important ;
}

.container-item {
  border: 3px solid #9a9176;
  border-radius: 10px;
  height: 350px;
  width: 85%;
  cursor: auto;
}

.tier-title{
  text-align: center;
  text-transform: uppercase;
}

.services-tier{
  height: 100px;
  list-style: none;
}



.services-tier li:before {
  content: "\e876"; /* FontAwesome Unicode */
  font-family: 'Material Icons';
  color: #9a9176;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.price-tier{
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

.price-subtitle{
  font-size: small;
  font-weight: normal;
}
