<div class="tier-container" fxLayout="column">

  <div id="tiers-toggle">
    <o-button-toggle-group attr="toggleGroup" layout="row" multiple="no" value="year" layout-padding>
      <o-button-toggle attr="toggle1" label="Mensual" value="month" (onChange)="prices($event)"></o-button-toggle>
      <o-button-toggle attr="toggle2" label="Anual" value="year" (onChange)="prices($event)"></o-button-toggle>
    </o-button-toggle-group>
  </div>

  <div id="tiers-prices">
    <o-grid #tiers attr="tiers" service="subscriptions" entity="subscription" keys="id_subscription"
        columns="id_subscription;name;price;discount;icon" title="TIERS"
        [cols]="3" query-rows="3" show-page-size="false"
        orderable="yes" quick-filter="false"
        sort-column="id_subscription" controls="false" refresh-button="false"
        pagination-controls="false" show-footer="false">
        <ng-container *ngFor="let list of tiers.dataArray">
          <o-grid-item>
            <o-column layout-padding class="container-item">
              <o-image data ="{{list.icon}}" show-controls="no"
              read-only="yes" empty-image="assets/images/no-image.png"></o-image>
              <h3 class="tier-title">{{ list.name }}</h3>
              <o-list #tiersServices service="subscriptions" entity="subscriptionService"  keys="id_subscription_service"
              columns="id_subscription_service;id_subscription;service_name" controls="no" query-on-init="false">
                <mat-list-item *ngFor="let listservices of tiersServices.dataArray">
                  <span>{{ listservices.service_name }}</span>
                </mat-list-item>
              </o-list>
              <span *ngIf="planAnnual" class="price-tier">{{ list.price * (100 - list.discount) / 100}}€ <span class="price-subtitle">/mes</span></span>
              <span *ngIf="!planAnnual" class="price-tier">{{ list.price }}€ <span class="price-subtitle">mes</span></span>
            </o-column>

          </o-grid-item>
        </ng-container>
    </o-grid>
  </div>

</div>
