
<!--<div id="btnLogin">
   
   <o-button (click)="loginPrincipal()" style="position: relative; left: 86em;"  label="Login / Register" layout-padding color="primary"></o-button>

</div>




   <o-image attr="image" data="http://placekitten.com/1920/1080" height="200" width="300"
   auto-fit="true" enabled="false" read-only="false" show-controls="false" background-size="100%"
   full-screen-button="false" empty-image="./assets/images/no-image.png"></o-image>


 

 <div id="footer" class="footer-container">
   <div fxLayout="row" fxLayoutAlign="end center">
     <span>{{ 'FOOTER_CREATED_BY' | oTranslate }}</span>
     <span> &copy; 2021 </span>
     <span>{{ 'FOOTER_RIGHTS' | oTranslate }}</span>
   </div>
 </div>

 <div class="full-page">-->

  <div class="full-page">

    <app-page-header>

    </app-page-header>

    <head>
      <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>

    <body>
      <div id="logo">
        <h1>Powerful tagline <br>
        for your product</h1>
      </div>
      
      <div id="underLogo">
        <h2>Supporting statement for your<br>
          products primary tagline</h2> 
      </div>

      <div id="btnContractServices">
        <button>Contratar servicios</button>
      </div>

      <div id="benefitsConainer">

        <div id="chartIcon">
          <i class="fa fa-area-chart custom"></i>	
        </div>
  
        <div id="serverIcon">
          <i class="fa fa-server custom"></i>	  
        </div>
  
        <div id="checkIcon">
          <i class="fa fa-check custom"></i>	
        </div>
  
        <div id="beneficioUno">
          <h3>Primary benefit one</h3>
        </div>
  
        <div id="beneficioDos">
            <h3>Primary benefit two</h3> 
        </div>
  
        <div id="beneficioTres">
          <h3>Primary benefit three</h3>
        </div> 
        
        <div id="underIcon">
          <h2>Describe a key benefit</h2> 
        </div>  


      </div>

     
      
      <span></span>
  
    </body>
  
    <div id="footer" class="footer-container">
      <div fxLayout="row" fxLayoutAlign="end center">
        <span>{{ 'FOOTER_CREATED_BY' | oTranslate }}</span>
        <span> &copy; 2022 </span>
        <span>{{ 'FOOTER_RIGHTS' | oTranslate }}</span>
      </div>
    </div>
  </div>


  


