<div class="full-page">
  <p style="height: ;150px">aaaaaaaaaaa
  aaaaaaaaaaaaaa
aaaaaaaaaaaaaa</p>
<p style="height: ;150px">""</p>

  <app-page-header class="header-container"></app-page-header>

  <app-landing-tiers id="tiers"></app-landing-tiers>

  <app-landing-services id="services"></app-landing-services>

  <div id="footer" class="footer-container">
    <div fxLayout="row" fxLayoutAlign="end center">
      <span>{{ 'FOOTER_CREATED_BY' | oTranslate }}</span>
      <span> &copy; 2022 </span>
      <span>{{ 'FOOTER_RIGHTS' | oTranslate }}</span>
    </div>
  </div>
</div>
