<router-outlet></router-outlet>

<!--<o-form-layout-manager title="{{'Servicios' | oTranslate }}" separator=" " mode="tab" label-columns="ID_SERVICE">
    <div fxFill>
     <o-table fxFlex attr="servicesTable" service="services" entity="service" keys="ID_SERVICE" 
       columns="ID_SERVICE;ICON"
       visible-columns="ID_SERVICE;ICON" query-rows="20">
       <o-table-column attr="PHOTO" title="PHOTO" orderable="no" searchable="no" type="image" avatar="no" 
         empty-image="assets/images/no-image.png" image-type="base64"></o-table-column>
       <o-table-column attr="STARTDATE" title="STARTDATE" type="date" format="LL"></o-table-column>
       <o-table-column attr="ID" title="ID" width="100px"></o-table-column>
     </o-table>
    </div>

   </o-form-layout-manager>

    <div class="row" style="align-items:center">
    <o-button attr="raised1" type="RAISED" label="RAISED" layout-padding></o-button>
    <o-button attr="raised2" type="RAISED" label="Login" layout-padding color="primary" (click)="goToLogin('./login')"></o-button>
    <o-button attr="raised3" type="RAISED" label="Login" layout-padding color="accent"></o-button>
    <o-button attr="raised4" type="RAISED" label="Login" layout-padding color="warn"></o-button>
    <o-button attr="raised5" type="RAISED" label="Disabled" layout-padding enabled="no"></o-button>
    </div>-->
