<o-form service="services" entity="service" keys="ID_SERVICE" header-actions="R;I;U;D" show-header-navigation="no">
  <o-text-input class="input-padding" attr="NAME" fxFlex="150" required="yes"></o-text-input>
    <o-row>
      <o-column fxFlex>
        <o-currency-input class="input-padding" attr="PRICE" fxFlex="80" required="yes" read-only="no" min-decimal-digits="2" max-decimal-digits="2"></o-currency-input>
        <o-image class="input-padding" fxFlex="80" id="ICON" attr="ICON" empty-image="assets/images/no-image.png"></o-image>
      </o-column>
      <o-column title-label="SERVICE_ADDITIONAL_INFORMATION" fxFlex>
        <o-integer-input attr="FIDELITY_POINTS" label="FIDELITY_POINTS" fxFlex="80" read-only="no" required="yes" min="0">
        </o-integer-input>
        <o-integer-input attr="DURATION_TIME" label="DURATION_TIME" fxFlex="80" read-only="no" required="yes"  min="1" max="28">
        </o-integer-input>
        <o-real-input attr="EFFICIENCY_PERCENTAGE" label="EFFICIENCY_PERCENTAGE" fxFlex="80" read-only="no" required="yes" min-decimal-digits="2" min="0" max="99">
        </o-real-input>
        <o-real-input attr="SUCCESS_PERCENTAGE" label="SUCCESS_PERCENTAGE" fxFlex="80" read-only="no" required="yes" min-decimal-digits="2" min="0" max="99">
        </o-real-input>
      </o-column>
      <o-column title-label="SERVICE_ADDITIONAL_INFORMATION" fxFlex>
        <o-combo attr="LEGALITY_STATUS" [static-data]="booleanArray" [data]="selectedBooleanString"
          value-column="booleanString" columns="booleanString;booleanValue" visible-columns="booleanValue"
          required="yes" fxFlex>
          <o-combo-renderer-boolean boolean-type="string" true-value="true" false-value="false"
          render-true-value="{{'YES' | oTranslate}}" render-false-value="{{'NO' | oTranslate}}">
          </o-combo-renderer-boolean>
        </o-combo>
        <o-combo attr="MAGIC_STATUS" [static-data]="booleanArray" [data]="selectedBooleanString"
          value-column="booleanString" columns="booleanString;booleanValue" visible-columns="booleanValue"
          required="yes" fxFlex>
          <o-combo-renderer-boolean boolean-type="string" true-value="true" false-value="false"
          render-true-value="{{'YES' | oTranslate}}" render-false-value="{{'NO' | oTranslate}}">
          </o-combo-renderer-boolean>
        </o-combo>
        <o-combo attr="BONUS" [static-data]="booleanArray" [data]="selectedBooleanString"
          value-column="booleanString" columns="booleanString;booleanValue" visible-columns="booleanValue"
          required="yes" fxFlex>
          <o-combo-renderer-boolean boolean-type="string" true-value="true" false-value="false"
          render-true-value="{{'YES' | oTranslate}}" render-false-value="{{'NO' | oTranslate}}">
          </o-combo-renderer-boolean>
        </o-combo>
      </o-column>
    </o-row>
    <o-row>
      <o-textarea-input attr="DESCRIPTION" fxFlex></o-textarea-input>
    </o-row>
</o-form>

