<o-form service="services" entity="service" keys="id_service" header-actions="R;I;U;D" show-header-navigation="no">
  <o-text-input class="input-padding" attr="name" label="{{'NAME' | oTranslate}}" fxFlex="150" required="yes"></o-text-input>
    <o-row>
      <o-column fxFlex>
        <o-currency-input class="input-padding" attr="price" label="{{'PRICE' | oTranslate}}" fxFlex="80" required="yes" read-only="no" min-decimal-digits="2" max-decimal-digits="2"></o-currency-input>
        <o-image class="input-padding" fxFlex="80" id="ICON" attr="ICON" empty-image="assets/images/no-image.png"></o-image>
      </o-column>
      <o-column title-label="SERVICE_ADDITIONAL_INFORMATION" fxFlex>
        <o-integer-input attr="fidelity_points" label="{{'FIDELITY_POINTS' | oTranslate}}" fxFlex="80" read-only="no" required="yes" min="0">
        </o-integer-input>
        <o-integer-input attr="duration_time" label="{{'DURATION_TIME' | oTranslate}}" fxFlex="80" read-only="no" required="yes"  min="1" max="28">
        </o-integer-input>
        <o-real-input attr="efficiency_percentage" label="{{'EFFICIENCY_PERCENTAGE' | oTranslate}}" fxFlex="80" read-only="no" required="yes" min-decimal-digits="2" min="0" max="99">
        </o-real-input>
        <o-real-input attr="success_percentage" label="{{'SUCCESS_PERCENTAGE' | oTranslate}}" fxFlex="80" read-only="no" required="yes" min-decimal-digits="2" min="0" max="99">
        </o-real-input>
      </o-column>
      <o-column title-label="SERVICE_ADDITIONAL_INFORMATION" fxFlex>
        <o-combo attr="legality_status" label="{{'LEGALITY_STATUS' | oTranslate}}" [static-data]="booleanArray" [data]="selectedBooleanString"
          value-column="booleanString" columns="booleanString;booleanValue" visible-columns="booleanValue"
          required="yes" fxFlex>
          <o-combo-renderer-boolean boolean-type="string" true-value="true" false-value="false"
          render-true-value="{{'YES' | oTranslate}}" render-false-value="{{'NO' | oTranslate}}">
          </o-combo-renderer-boolean>
        </o-combo>
        <o-combo attr="magic_status" label="{{'MAGIC_STATUS' | oTranslate}}" [static-data]="booleanArray" [data]="selectedBooleanString"
          value-column="booleanString" columns="booleanString;booleanValue" visible-columns="booleanValue"
          required="yes" fxFlex>
          <o-combo-renderer-boolean boolean-type="string" true-value="true" false-value="false"
          render-true-value="{{'YES' | oTranslate}}" render-false-value="{{'NO' | oTranslate}}">
          </o-combo-renderer-boolean>
        </o-combo>
        <o-combo attr="bonus" label="{{'BONUS' | oTranslate}}" [static-data]="booleanArray" [data]="selectedBooleanString"
          value-column="booleanString" columns="booleanString;booleanValue" visible-columns="booleanValue"
          required="yes" fxFlex>
          <o-combo-renderer-boolean boolean-type="string" true-value="true" false-value="false"
          render-true-value="{{'YES' | oTranslate}}" render-false-value="{{'NO' | oTranslate}}">
          </o-combo-renderer-boolean>
        </o-combo>
      </o-column>
    </o-row>
    <o-row>
      <o-textarea-input attr="description" fxFlex></o-textarea-input>
    </o-row>
</o-form>

