 <mat-dialog-content>
<div fxLayout="column"  class="service-detail" fxFill>

 
      <div>
        <div class="imagenservicio">
        <o-image  id='icon' data ={{data.icon}} label="{{'ICON' | oTranslate}}" show-controls="no"
        read-only="yes" empty-image="assets/images/no-image.png" ></o-image>
        </div>
      <h1 class="servicename"><b>{{ data.name }} {{ data.price }}</b></h1>
      <mat-divider></mat-divider>
      <span class="service-type"><i>{{ <data class="bonus"></data> }}</i></span>
      <mat-divider></mat-divider>
      <span *ngIf="data.fidelity_points">
      <mat-icon>email</mat-icon>{{ data.fidelity_points }}
      </span>
      <span *ngIf="data.legality_status">
        <mat-icon>smartphone</mat-icon>{{ data.legality_status }}
      </span>
      <span *ngIf="data.description">
        <mat-icon>home</mat-icon>{{ data.description }}
      </span>


 
    <span class="service-office">{{ data.name }}</span>
    </div>

</div>
</mat-dialog-content> 
