<mat-toolbar color="primary" class="mat-elevation-z0">
  <span style="flex: auto"></span>
  <!-- <mat-chip-list color="primary">
    <mat-chip (click)="loginPrincipal()" color="primary">{{ 'LOGIN_REGISTER' | oTranslate }}</mat-chip>
  </mat-chip-list>
  <o-button (click)="loginPrincipal()" label="{{ 'LOGIN_REGISTER' | oTranslate }}" layout-padding color="primary"></o-button>
  <o-button (click)="loginPrincipal()" label="{{ 'LOGIN_REGISTER' | oTranslate }}" layout-padding color="accent"></o-button> -->
  <button (click)="goToRegister()" mat-raised-button color="accent" type="submit">{{ 'REGISTER' | oTranslate }}</button>
  <button (click)="goToLogin()" mat-raised-button color="accent" type="submit">{{ 'LOGIN' | oTranslate }}</button>
  <!-- <button (click)="loginPrincipal()" mat-raised-button color="primary" type="submit">{{ 'LOGIN_REGISTER' | oTranslate }}</button>
  <button (click)="loginPrincipal()" mat-raised-button color="warn" type="submit">{{ 'LOGIN_REGISTER' | oTranslate }}</button> -->

    <!-- <a mat-icon-button href="https://github.com/Splaktar/angularjs-angular-material-hybrid-demo" target="_blank" rel="noopener">
      <mat-icon svgIcon="github"></mat-icon>
    </a> -->
</mat-toolbar>
