
<div class="full-page">
  <app-page-header></app-page-header>

  <div class="register-outer-container">

    <div class="wrapp-register">

      <div fxFill fxLayout="column" fxLayoutAlign="center center" class="register-inner-container">
        <!--<o-form [formGroup]="registerForm" service="users" entity="user" keys="user_" header-actions="I" show-header="no">

          <o-text-input attr="username" label="{{ 'USERNAME' | oTranslate }}" required="yes"></o-text-input>
          <o-email-input attr="email" label="Email" read-only="no" required="yes" ></o-email-input>
          <o-password-input id="password" attr="password" label="{{ 'PASSWORD' | oTranslate }}" read-only="no" required="yes" (onValueChange)="onValueChange($event)"></o-password-input>
          <o-password-input id="cpassword" attr="cpassword" label="{{ 'REPEAT_PASSWORD' | oTranslate }}" read-only="no" required="yes" (onValueChange)="onValueChange($event)"></o-password-input>
          <div><p id="errormessage" visible="false">Las contraseñas no coinciden</p></div>
          <o-button id="buttonregister" label="{{ 'REGISTER' | oTranslate }}" (click)="register()" layout-padding color="primary"></o-button>
        </o-form>-->


        <img src="../../assets/images/rpg-pixel.gif" class="gif">
        <o-form [formGroup]="registerForm" (ngSubmit)="register()" entity="user" keys="user_" header-actions="I" show-header="no">
          <o-column display="flex" fxFlex="75" align-items="center" justifyContent="center">

            <div class="register-title-container" fxLayout="column">
              <span class="title_text">Register a new account:</span>
            </div>

            <!--*** EMAIL ***-->
            <div class="row-reg center between">
              <mat-form-field class="column-reg" [ngClass]="">
                <mat-label>{{'USERNAME' | oTranslate}}</mat-label>
                <input class="input-register" matInput type="text" formControlName="username" placeholder="Your Nick"
                  required="true" variant="outlined">
              </mat-form-field>
              <mat-form-field class="column-reg" [ngClass]="">
                <mat-label>{{'EMAIL' | oTranslate}}</mat-label>
                <input class="input-register" matInput type="email" formControlName="email" required="true">
              </mat-form-field>
            </div>

            <!--*** PASSWORD + REPEAT_PASSWORD ***-->
            <div class="row-reg center between">
              <mat-form-field class="column-reg" [ngClass]="">
                <mat-label>{{'PASSWORD' | oTranslate}}</mat-label>
                <input class="input-register" matInput type="password" formControlName="password"
                  name="password" ng-model="user.pass" required="true">
              </mat-form-field>
              <mat-form-field class="column-reg" [ngClass]="">
                <mat-label>{{'REPEAT_PASSWORD' | oTranslate}}</mat-label>
                <input class="input-register" matInput type="password" formControlName="confirmPass" name="confirmPass"
                  ng-model="user.confirmPassword" required="true"
                  (change)="checkPasswords($event.target.value)">
              </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="submit"
              [disabled]="registerForm.invalid">{{'REGISTER' | oTranslate}}</button>
          </o-column>
        </o-form>
      </div>


    </div>


    <div id="footer" class="footer-container">
      <div fxLayout="row" fxLayoutAlign="end center">
        <span>{{ 'FOOTER_CREATED_BY' | oTranslate }}</span>
        <span> &copy; 2021 </span>
        <span>{{ 'FOOTER_RIGHTS' | oTranslate }}</span>
      </div>
    </div>
  </div>


</div>

