.star-column {
  max-width: 10% !important; }

  span.date {
    font-size: 12px;
  }

#Servicios:hover{
  opacity:98%;
  /* border: 2px solid yellow; */
  /* box-shadow:2px -2px 10px gold; */
  transform: scaleY(1.04) scaleX(1.04);
}

.Titulos{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-style: double;
    font-size:95%;
}
.servicio{
    background-color: #e1dbc9;
}

.title_text{
    text-align: justify;
    margin:auto;
    font-size: 14px;
    /* font-family:fantasy; */
}


#name{
  font-size:18px;
  float:left;
  color:rgb(31, 47, 170);
  }

#address{
  font-size:12px;
  float:right;
  text-align:right;
  width:300px;
  color:rgb(31, 47, 170);
  }
