<o-form ignore-default-navigation="yes" show-header="false">
  <div>
    <o-list #reviewGrid service="shops" entity="shopReview" keys="id_review"
      columns="name;region;id_review;review_text;stars;id_shop;review_date;id_client;client_name;client_email;review_title;review_id_shop"
      col="12" show-page-size="false" orderable="false" quick-filter="true" search="yes" show-footer="true" pageable="no"
      controls="false" gutter-size="1px" detail-mode="none" fill="outline" justify-content="flex-end">
      <p>{{item}}</p>
      <o-button (click)="ngAfterViewInit()" label="{{ 'LOGIN_REGISTER' | oTranslate }}" layout-padding color="accent"></o-button>
      <mat-card *ngFor="let review of reviewGrid.dataArray; trackBy:trackByIndex" o-list-item>
        <div fxLayout="row" fxLayoutAlign="center center">
          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="14px" fxFlex="initial" fxFlex.lt-lg="100"
            ngClass.lt-lg="border-bottom" ngClass="border-right">
            <div fxLayout="column" fxLayoutAlign="start start" fxFlexFill>
              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px">
                <span class="date">{{ review.review_date | date:'longDate' }}</span>
              </div>
              <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px">
              </div>
            </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="14px" fxFlex="15" fxFlex.lt-lg="100"
          ngClass.lt-lg="border-bottom" ngClass="border-right">
            <div fxLayout="row wrap" fxLayoutAlign="row" fxLayoutGap="12px">
              <div *ngIf="review.stars" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="12px">
                <span>{{ review.stars}}</span>
              </div>
            </div>
            <div>
              <span> </span>
              <app-review-rating class="text-right" [rating]="review.stars"></app-review-rating>
            </div>
          </div>


          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="14px" fxFlex.lt-lg="100" class="info-iban">
            <span> {{ review.client_name }}</span>
            <div fxLayout="row" fxLayoutAlign="row" fxLayoutGap="12px">
              <span>{{ review.client_email}} </span>
            </div>
          </div>

          <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="14px" fxFlex="120" fxFlex.lt-lg="100" class="balance-review">
            <span> {{ review.review_title }}</span>
            <div fxLayout="row" fxLayoutAlign="end" fxFill fxLayoutGap="12px">
              <span class="text">{{ review.review_text }} </span>
            </div>
          </div>
        </div>

      </mat-card>



      <ng-container *ngFor="let list of reviewGrid.dataArray">
        <ng-container *ngIf="list.id_shop === 0">
          <o-list-item> </o-list-item>
          <o-list-item >
            <!-- *ngIf="list.name == 'Sobornar'" -->

            <div (click)="openDetail(list)" fxLayout="column" fxLayoutAlign="space-evenly center" class="o-card-menu-item mat-elevation-z1 servicio">
            <span class="Titulos" id="reviews"><b>review_id_shop {{ list.review_id_shop }} </b></span>
            <span class="Titulos"><b>{{ list.client_name }} </b></span>
            <span class="Titulos"><i>Stars: {{ list.stars }} </i></span>
            <span class="Titulos"><i>{{ list.review_title }} </i></span>
            </div>
          </o-list-item>
        </ng-container>
      </ng-container>
    </o-list>
  </div>
  </o-form>
