<o-form #shopDetailsForm service="shops" entity="shop" keys="id_shop" header-actions="R;I;U;D" show-header-navigation="no">
    <o-row-collapsible  expanded="no" description="This is a collapsible row">
      <o-column title-label="CUSTOMER_PERSONAL_INFORMATION" fxFlex="70" appearance='outline'>
        <o-row>
          <o-text-input class="input-padding" attr="name" label="{{'SHOP_NAME' | oTranslate}}" fxFlex="40" required="yes"></o-text-input>
          <o-date-input attr="start_date" label="{{'ESTABLISHMENT_DATE' | oTranslate}}" fxFlex="20"></o-date-input>
        </o-row>
        <o-row>
          <o-combo attr="region" label="{{'REGION' | oTranslate}}" class="input-padding" fxFlex="20" service="regions"
             entity="region" keys="id_region" columns="region_name"
             visible-columns="region_name" value-column="region_name"></o-combo>
          <o-real-input attr="longitude" label="{{'LONGITUDE' | oTranslate}}" decimal-separator="," max-decimal-digits="10" min-decimal-digits="0"
            class="input-padding" fxFlex="20"></o-real-input>
          <o-real-input attr="latitude" label="{{'LATITUDE' | oTranslate}}" decimal-separator="," max-decimal-digits="10" min-decimal-digits="0"
            fxFlex="20"></o-real-input>
        </o-row>
      </o-column>
      <o-column title-label="CUSTOMER_PERSONAL_INFORMATION" fxFlex appearance='outline'>
        <o-text-input attr="id_shop" sql-type="INTEGER" enabled="no" fxFlex="8"></o-text-input>
        <o-textarea-input attr="description" label="{{'DESCRIPTION' | oTranslate}}" fxFlex></o-textarea-input>
      </o-column>
    </o-row-collapsible>


  <mat-tab-group fxFlex>
    <mat-tab label="{{ 'SUBSCRIPTIONS' | oTranslate }}">
      <div layout-padding>
      <o-table fxFlex #shopSubscriptionTable service="shops" entity="shopSubscription" keys="id_shop_subscription"
      insert-button="no" refresh-button="no" detail-mode="none" delete-button="no" query-rows="20" parent-keys="id_shop"
      columns="subscription_name;price;subscription_start_date;end_date;status"
      visible-columns="subscription_name;price;subscription_start_date;end_date;status"
      id="subs"
       >
        <o-table-column #ssd attr="subscription_start_date" title="{{'SUBSCRIPTION_START' | oTranslate}}" type="date" format="LL"></o-table-column>
        <o-table-column #sed attr="end_date" title="{{'SUBSCRIPTION_END' | oTranslate}}" type="date" format="LL"></o-table-column>
        <o-table-column attr="subscription_name" title="{{'SUBSCRIPTION_NAME' | oTranslate}}"></o-table-column>
        <o-table-column #st attr="status" title="{{'STATUS' | oTranslate}}"></o-table-column>
        <o-table-column attr="price" title="{{'SUBSCRIPTION_PRICE' | oTranslate}}" type="currency" class="o-table-column-centered"></o-table-column>
      </o-table>
    </div>
    </mat-tab>
    <mat-tab label="{{ 'SERVICES' | oTranslate }}">
      <o-column fxFlex layout-padding>
        <o-row>
        </o-row>
        <o-row>
        </o-row>
        <o-row>
        </o-row>
        <o-row>
        </o-row>
        <o-row>
        </o-row>
        <o-row>
        </o-row>
      </o-column>
    </mat-tab>
  </mat-tab-group>
</o-form>
